In [ ]:
# LIST DATATYPE ASSIGNMENT - 50 QUESTIONS
# ======================================

# SOLVED EXAMPLE
# --------------
# Question: Find the maximum and minimum values in a list
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [ ]:
# ASSIGNMENT QUESTIONS (50 QUESTIONS)
# ==================================

# Question 1: Create a list of first 10 square numbers
sqr=[]
for i in range(1,11):
  sqr.append(i**2)
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
# Question 11: Flatten nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat=[]
for i in nested_list:
  for j in i:
    flat.append(j)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# Question 12: Find common elements
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
#k=set(list1)
#print(k)
# & is intersection operation
common = list(set(list1) & set(list2))
print( common)

[4, 5]

In [6]:
# Question 13: Create a list of lists
list_of_lists = [[1, 2], [3, 4], [5, 6]]
print(list_of_lists)

[[1, 2], [3, 4], [5, 6]]

In [9]:
# Question 14: Sum of each sublist
nested_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = [sum(sub) for sub in nested_list]
print( sums)

[6, 15, 24]

In [ ]:
# Question 15: Transpose matrix
nested_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = [list(row) for row in zip(*nested_list)]
print("Q15:", transposed)