In [1]:
# TUPLE DATATYPE ASSIGNMENT
# ========================

# SOLVED EXAMPLE
# --------------
# Question: Find the sum and product of all elements in a tuple
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [2]:
# Question 1: Create a tuple of first 10 natural numbers
t1 = tuple(range(1, 11))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:

# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
t2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(t2))

10

In [4]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

t3 = ('a', 'b', 'c', 'd', 'e')
print(t3[2])

c

In [5]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
t4 = (23, 45, 12, 67, 34, 89, 56)
print(max(t4))

89

In [6]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
t5 = (1, 5, 2, 5, 3, 5, 4, 5, 6)
print(t5.count(5))

4

In [7]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
t6 = (42, 3.14, "Hello", True)
print(t6)

(42, 3.14, 'Hello', True)

In [8]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
t7 = ('java', 'python', 'c++', 'javascript')
print(t7.index('python'))

1

In [9]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
t8 = (10, 20, 30, 40, 50)
print(25 in t8)

False

In [10]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
t9 = tuple(range(2, 11, 2))
print(t9)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [11]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
t10 = (15, 23, 31, 42, 56, 78)
avg = sum(t10) / len(t10)
print(avg)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336