In [1]:
# DICTIONARY DATATYPE ASSIGNMENT - 50 QUESTIONS
# ============================================

# SOLVED EXAMPLE
# --------------
# Question: Find the key with maximum value in a dictionary
print("SOLVED EXAMPLE:")
print("Find the key with maximum value in a dictionary")
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
max_key = max(scores, key=scores.get)
max_value = scores[max_key]
print(f"Dictionary: {scores}")
print(f"Key with maximum value: {max_key}")
print(f"Maximum value: {max_value}")
print("-" * 50)

# ASSIGNMENT QUESTIONS (50 QUESTIONS)
# ==================================

SOLVED EXAMPLE:
Find the key with maximum value in a dictionary
Dictionary: {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
Key with maximum value: Diana
Maximum value: 95
--------------------------------------------------

In [2]:

# Question 1: Create a dictionary of student names and their ages
students = {"RAM": 20, "SHYAM": 22, "SITA": 19}
print(students)

{'RAM': 20, 'SHYAM': 22, 'SITA': 19}

In [5]:

# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
alpha={'a': 1, 'b': 2, 'c': 3}
alpha['d']=8
print(alpha)

{'a': 1, 'b': 2, 'c': 3, 'd': 8}

In [2]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
dict={'name': 'John', 'age': 25, 'city': 'New York'}
print(dict.keys())

dict_keys(['name', 'age', 'city'])

In [1]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
dict={'python': 3, 'java': 2, 'c++': 1}
print(dict.values())

dict_values([3, 2, 1])

In [3]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
d = {'name': 'Alice', 'age': 30, 'city': 'London'}
print('age' in d)

True

In [ ]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
dict = {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
dict.pop('temp')
print(dict)

In [4]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
dict={'math': 85, 'science': 92, 'english': 78}
total=sum(dict.values())
print(total)

255

In [5]:

# Question 8: Create a dictionary with squares of numbers 1 to 5
d = {i: i**2 for i in range(1, 6)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [6]:
#Question 9:Count frequency of each character in string 'hello'"
d = {}
for ch in "hello":
    d[ch] = d.get(ch, 0) + 1
print(d)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [7]:
# Question 10 Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}")
d = {'a': 1, 'b': 2}
d.update({'c': 3, 'd': 4})
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}